extends layout
block content
    #wrapper
        #mainpage-wrapper
            .container-fluid
                .row
                    .col-lg-8
                        h1.page-header Feedback form
                .row
                    .col-lg-8
                        -if(message === 'Hellllo')
                              .alert.alert-danger #{message}
                        form(data-toggle='validator', role='form', action='/', method='POST')
                            .form-group
                                input#Firstname.form-control(name='firstname', type='text', placeholder='First Name', data-error='First name is required', required='')
                                .help-block.with-errors
                            .form-group
                                input#Lastname.form-control(name='lastname', type='text', placeholder='Last Name', data-error='Last name is required', required='')
                                .help-block.with-errors
                            .form-group
                                input#Email.form-control(name='email', type='email', placeholder='Email', data-error='Email is required', required='')
                                .help-block.with-errors                            
                            .form-group
                                input#options(type='radio', name='options', value='Very good', checked='true')
                                | Very good  
                                input#options(type='radio', name='options', value='Good')
                                | Good    
                                input#options(type='radio', name='options', value='Satisfactory')
                                | Satisfactory                        
                            .form-group
                                select#satisfaction.form-control(name='satisfaction')
                                    option(value='Notselected' selected) Select satisfaction level
                                    option(value='Very good') Very good
                                    option(value='Good') Good
                                    option(value='Satisfactory') Satisfactory
                            .form-group
                                textarea#Comments.form-control(name='comments', rows='5', placeholder='Comments')
                            .form-group
                                button.btn.btn-primary.success(type='submit') Send feedback
     include footer